.slide-enter {
	opacity: 0;
	transform: translateX(32vw);
}

.slide-enter.slide-enter-active {
	opacity: 1;
	transform: none;
	transition: transform 400ms ease-out;
}

.slide-exit {
	opacity: 1;
	transform: none;
}

.slide-exit.slide-exit-active {
	opacity: 0;
	transform: translateX(-32vw);
	transition: transform 400ms ease-out;
}
